In [5]:

import pandas as pd

In [9]:
data=pd.read_csv('/kaggle/input/student-datas/Student.csv')
df=data.copy()
df.head()

   Maths  Physics  Chemistry  Result
0     17       27         22       0
1     72       82         77       1
2     97       18         13       0
3      8       42         37       0
4     32       25         20       0

In [21]:
df=df.drop('Result',axis=1)
df['average_score']=df[['Maths','Physics','Chemistry']].mean(axis=1)
df.head()

   Maths  Physics  Chemistry  average_score
0     17       27         22      22.000000
1     72       82         77      77.000000
2     97       18         13      42.666667
3      8       42         37      29.000000
4     32       25         20      25.666667

In [22]:
df.shape

(1000, 4)

In [23]:
print("Maximum Average Marks:",df['average_score'].max())
print("Minimum Average Marks:",df['average_score'].min())

Maximum Average Marks: 93.33333333333333
Minimum Average Marks: 10.0

In [24]:

idx = df['average_score'].idxmax()


top_student = df.loc[idx]

print("Student with the highest average:")
print(top_student)  

print(f" Average: {top_student['average_score']:.2f}")

Student with the highest average:
Maths            98.000000
Physics          85.000000
Chemistry        97.000000
average_score    93.333333
Name: 21, dtype: float64
 Average: 93.33